.toolbar {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 999;
  transform: translateY(-50%);
  // padding: 4px 0;
  // border-top-left-radius: 4px;
  // border-bottom-left-radius: 4px;
  background-color: rgba(black, 0.7);
  font-size: 14px;
  color: white;

  &-list {
  }

  &-item {
    // cursor: pointer;
    position: relative;
    padding: 8px;
    &-icon {
      width: 28px;
      height: 28px;
      background-size: cover;
      background-position: center center;
    }
    &-content {
      position: absolute;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 8px 12px;
      background-color: rgba(black, 0.7);
      top: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      transform: translateX(-100%);
      transition: opacity 0.2s;
    }

    &:hover .toolbar-item-content {
      visibility: visible;
      opacity: 1;
    }
    &-title {
      text-align: center;
      // border-bottom: 1px solid white;
      padding-bottom: 4px;
      margin-bottom: 4px;
      font-size: 16px;
    }
    &-link {
      img {
        max-height: 24px;
      }
      a {
        display: flex;
        white-space: nowrap;
        flex-flow: row nowrap;
        align-items: center;
        color: white;
        text-decoration: none;
        font-size: 14px;
      }
      &-r {
        a {
          padding: 8px;
          border-radius: 4px;
          border: 1px solid white;
        }
      }

      span {
        white-space: nowrap;
      }
    }
  }
}
