@import '@/assets/style/common.scss';

.footer {
  &-top {
    &-wrapper {
      @include wrapper;
    }
    background-color: #666;
    min-height: 200px;
  }
  &-bottom {
    &-wrapper {
      @include wrapper;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 12px;
      padding: 18px 0;
    }
    background-color: #333;
  }
}
