@import '@/assets/style/common.scss';

.footer {
  &-top {
    background-color: #666;
    padding: 32px 0;
    &-wrapper {
      @include wrapper;
      display: flex;
      flex-flow: row wrap;
    }
    &-left {
      min-width: 200px;
    }
    &-right {
      min-width: 300px;
      flex: 1;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    &-col {
      margin: 0 12px;
      min-width: 100px;
    }
    &-item {
      font-size: 12px;
      display: block;
      text-decoration: none;
      color: #ddd;
      margin: 4px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      &-title {
        color: white;
        font-size: 14px;
      }
    }
  }
  &-bottom {
    &-wrapper {
      @include wrapper;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 12px;
      padding: 18px 0;
    }
    background-color: #333;
  }
}
